.contact_button {
	font-size: 20px;
	font-weight: bold;
	color: white;
	padding: 11px;
	width: 170px;
	height: 70px;
	border: none;
	background-color: #901c1c;
	border-radius: 5px;
	cursor: pointer;
}

.trieContainer {
	width: 100%;
	position: relative;
	display: flex;
	margin: 0 100px;

	.dropDownBtn {
		font-size: 20px;
		font-weight: bold;
		color: white;
		padding: 11px;
		width: 170px;
		height: 70px;
		border: none;
		background-color: #901c1c;
		border-radius: 5px;
		cursor: pointer;
	}
	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #901c1c;
		min-width: 160px;
		overflow: auto;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		z-index: 1;
		margin: 0 180px;
		&.show {
			display: block;
		}
		p {
			color: #fff;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
			cursor: pointer;
			&:hover {
				background-color: #D3573C;
				color: #f1f1f1;
			}
		}
	}
}
