@use "../layouts";
@use "../abstracts" as c;
.photographer_section {
	display: flex;
	flex-wrap: wrap;
	gap: 70px;
	margin-top: 80px;
	justify-content: center;
	@include c.mobile-only {
		flex-direction: column;
	}

	.photographerCard {
		flex-basis: 30%;
		justify-self: center;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		cursor: pointer;

		a:focus {
			border-radius: 60px 0px 60px 0px ;
			background-color: #d3583c41;
			border: 1px solid green;
			width: 450px;
			transition: 0.6s;
		}

		a:focus > img {
			border-radius: 20% 2% 20% 2%;
			transform: scale(1.05);
		}
		@include c.mobile-only {
			width: 100%;
		}
		&:hover img {
			box-shadow: 1px 2px 18px gray;
			border-radius: 20%;
			transform: scale(1.05);
		}
		&:hover h2 {
			color: black;
		}
		&:hover .price {
			color: black;
		}
		.ph_name {
			margin: auto
		}
		h2 {
			color: #d3573c;
			margin-bottom: 0;
			transition: 0.5s;
		}
		h3 {
			color: #d3573c;
			font-size: 16px;
			margin: 0;
		}
		.city {
			font-size: 15px;
			margin: 6px;
			color: #901c1c;
		}
		.tag {
			font-size: 15px;
			color: black;
			margin: 6px;
		}
		.price {
			color: rgb(151, 151, 151);
			margin: 6px;
		}
		img {
			height: 200px;
			width: 200px;
			border-radius: 50%;
			object-fit: cover;
			transition: 0.5s;
			margin-top: 30px;
		}
	}
}
